@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes gradient-move {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@layer base {
  body {
    @apply text-slate-100;
    background-color: #0d0a1a; /* Fallback color */
    background-image: 
      radial-gradient(at 27% 37%, hsla(215, 98%, 62%, 0.1) 0px, transparent 50%), 
      radial-gradient(at 97% 21%, hsla(125, 98%, 72%, 0.1) 0px, transparent 50%),
      radial-gradient(at 82% 99%, hsla(340, 98%, 62%, 0.1) 0px, transparent 50%),
      radial-gradient(at 21% 94%, hsla(343, 98%, 62%, 0.1) 0px, transparent 50%),
      radial-gradient(at 23% 23%, hsla(285, 98%, 62%, 0.1) 0px, transparent 50%);
    background-size: 200% 200%;
    animation: gradient-move 15s ease infinite;
  }
}

/* Custom Scrollbar for Webkit Browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 8px;
}

/* The track (the background of the scrollbar) */
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.3);
}

/* The handle itself - we use the hex code for gold here */
::-webkit-scrollbar-thumb {
  background: #a58f0e50; /* #FFD700 is gold, 50 is the opacity */
  border-radius: 9999px;
}

/* The handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #FFD70080; /* #FFD700 is gold, 80 is a higher opacity */
}